.hero {
max-width: 1440px;
background: #2e2f42;
margin: 0 auto;
padding-top: 188px;
padding-bottom: 188px;


background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(0, 13, 255, 0.7)
),     url(/img/people-office\ 1\ \(1\)-min.jpg)      ;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}


.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;

margin: 0 auto;
margin-bottom: 48px ;
max-width: 496px;

}


.hero-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;


box-shadow: 0 4px 4px 0     rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border: none;
border-radius: 4px;
padding: 16px 32px;


display: flex;
margin: 0 auto;
display: block;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {

background-color: #404bbf;


}









